* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 1rem;
}

body {
    background: rgb(27, 27, 27);    
}


.nav {
    background-color: rgb(156, 126, 255);
    display: flex;
    height: 80px;
    
}

.nav-button {
    background: rgb(9, 9, 9);
    border: solid;
    border-color: rgb(9, 9, 9);
    border-radius: 8px;
    margin: 10px 20px;
    padding-right: 20px;
    padding-left: 20px; 
}

.nav-button:hover {
    border: solid;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

#grid-container{
    display: grid;
    margin: 30px;
    grid-template-columns: 1fr;
    justify-items: center;
}

.container {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.container-title {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 3rem; 
    margin-bottom: 10px;
    border-bottom: solid;
    border-color: rgb(255, 255, 255);
    outline: none;
}

.container-tag {
    display: inline-block; 
    background-color: rgb(156, 126, 255); 
    border-radius: 8px; 
    border: none;
    height: 26px;
    bottom: 18px;
    right: 126px;
    position: absolute;
    overflow-wrap: break-word;
    
}

.container-description {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 65%;
    font-size: 1rem; 
    margin-bottom: 10px;
    border-bottom: solid;
    border-color: rgb(255, 255, 255);
    outline: none;
    overflow-wrap: break-word;
    overflow: none;
    resize: none;
    overflow-block:hidden
}

.submit-button {
    background-color: green;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 16px;
    position: absolute;
    bottom: 15px;
    left: 40px;
}

.cancel-button {
    background-color: red;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 16px;
    position: absolute;
    bottom: 15px;
    left: 112px;
}

.cancel-button:hover, .submit-button:hover {
    cursor: pointer;
}

.dropdown-container {
    appearance: none;
  }

@media only screen and (min-width: 400px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
  }

@media only screen and (min-width: 800px) {
    #grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1600px) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

